* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 0.5vh 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar-contents {
  display: flex;
}

.logo-icon {
  width: 17vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 20px;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.users-list {
  font-weight: bold;
  color: #333333;
}

.lists-users {
  display: flex;
  list-style: none;
  align-items: flex-end;
}



.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* 画面上部の「人生を変えるフリマアプリ」帯部分 */

.title-contents {
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vh 15vw;
  color: #333333;
  margin-bottom: 30px;
}

.service-title {
  font-size: 4vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}


.list-pict {
  margin: 0 auto;
  width: 80%
}

.job-logo-icon{
  width: 10%;
}
.like-logo-icon{
  width: 8%;
}


.applicant-edit {
  display: flex;
  justify-content: center;
  
}
.applicant-btn-edit {
  width: 300px;
  height: 80px;
  background: #00BB00;
  border-radius: 4%;
  margin-bottom: 80px;
}

.applicant-btn-edit-text {
  color: #fff;
  display: block;
  text-align: center;
  font-size: 35px;
  margin-top: 10px;
}

.feature-contents {
  padding: 5vh 15vw;
}

.list-pic{
  margin: 0 auto;
  width: 120%;
}

.list-pictu{
  margin: 0 auto;
  width: 90%;
}


.feature-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.feature-contents>.title::after {
  content: '';
  width: 200px;
  height: 4px;
  background-color: #00BB00;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.feature-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-list-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
}

.feature-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //FURIMAの特徴 */

/* 商品一覧 */

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #00BB00;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.sold-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

.sold-out>span {
  color: #FFF;
  font-size: 45px;
  font: bold;
}


.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

/* //商品一覧 */

/* 下部広告部分 */
/* items/index.htmlの広告cssを所々使いまわしています。 */

.ad-footer-contents {
  width: 100vw;
  background-image: image-url('office-1209640_1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 15vw;
  color: #222222;
}

.ad-footer-title {
  font-size: 4vh;
  margin-bottom: 2vh;
}

.ad-footer-explain {
  font-size: 3vh;
  line-height: 30px;
}

/* //下部広告部分 */

.footer {
  width: 100vw;
  padding: 5vh 0;
  color: #A9A9A9;
  background-color: #FFF;
  text-align: center;
}

.footer-contents {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.furima-details {
  margin: 0 4vw;
}

.footer-content-head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-link {
  color: #A9A9A9;
  font-size: 12px;
  line-height: 30px;
}

.logo-white {
  width: 20vh;
  vertical-align: bottom;
}

.footer>p {
  font-size: 14px;
}